{% extends 'index.html'%}
{% block content %}
<h1>{{message}}</h1>
<table>
    <tr>
        <th>Sl. No</th>
        <th>Project Name</th>
        <th>Project Description</th>
        <th>Votes</th>
        <th>Ratio</th>
        <th>Created on Date</th>
    </tr>
    {%for project in projects%}
    <tr>
        <td>{{forloop.counter}}</td>
        <td><a href="{% url 'project' project.id}">{{project.title}}</a></td>
        <td>{{project.description}}</td>
        <td>{{project.vote_total}}</td>
        <td>{{project.vote_ratio}}</td>
        <td>{{project.created}}</td>
    </tr>
    {%endfor%}
</table>

<h1>Footer</h1>

{%endblock content%}