{% extends 'index.html' %}

{% block content %}

<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
           
            <form class="form" action="" method="POST">
                {% csrf_token %}
                <h3> Are you sure you want to delete "{{object}}"?</h3>

                <a class="btn btn--sub btn--lg  my-md" href="{{request.GET.next}}"> 
                Go back 
                </a>
                
                <input class="btn btn--sub btn--lg  my-md" type="submit" value="Confirm" />
            </form>
        </div>
    </div>
</main>
{% endblock %}